#header-container {
  background-color: #09233c;
  color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.columns {
  margin: 25px 15px 15px 15px;
}
.buttons {
  margin-top: 10px;
}
.box {
  margin-top: -10px;
}
.weather {
  background-color: #114678;
  color: white;
  font-size: small;
  padding: 4px;
}
.header-info {
  font-size: larger;
  font-weight: bolder;
}
.today-weather {
  line-height: 2;
}
.date-forcast {
  font-weight: bold;
  font-size: small;
  justify-content: left;
}
.weather-forcast-container {
  padding-left: 2px;
  padding-right: 2px;
  line-height: 2;
}

img {
  width: 50%;
  height: 50%;
}
.weather-icon-container {
  height: 20%;
  width: 20%;
}
/* .weather-icon-zero {
  width: 20px;
  height: 20px;
} */

.forecast-header {
  padding: 10px;
  font-weight: bolder;
}
.btn-city {
  background-color: grey !important;
}
